* {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0;
  grid-template-areas: "header" "main" "footer";
}
.grid-container .header {
  background-color: #F7C4FF;
  height: 10vh;
  grid-area: header;
  display: flex;
  flex: 1;
}
.grid-container .header .navbar {
  display: flex;
  flex: 1;
  padding: 0 20px;
}
.grid-container .header .navbar ul {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
}
.grid-container .header .navbar ul li {
  margin: 0 15px;
}
.grid-container .header .navbar ul li a {
  color: #000000;
  text-decoration: none;
  padding: 15px 20px;
  list-style: none;
}
.grid-container .header .navbar .navbar-nav {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.grid-container .footer {
  grid-area: footer;
  height: 6vh;
  background-color: #F7C4FF;
}
.grid-container .main {
  grid-area: main;
  height: 84vh;
  background-color: #FFC4D5;
}

.container-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0;
  grid-template-areas: "title" "section";
  justify-content: center;
  justify-content: center;
  align-items: center;
}
.container-main .title {
  grid-area: title;
  height: 10vh;
}
.container-main .title h1 {
  font-size: 4em;
  text-align: center;
}
.container-main .section {
  grid-template-areas: section;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  gap: 0;
  place-items: center;
  height: 100%;
  grid-template-areas: "container-card-1 container-card-2" "container-card-3 container-card-4";
}
.container-card article {
  text-align: center;
}
.container-card .container-card-1 {
  grid-template-areas: container-card-1;
}
.container-card .container-card-1 a {
  color: #000000;
  text-decoration: none;
  padding: 15px 20px;
  list-style: none;
}
.container-card .container-card-1 .articulos {
  background-color: white;
  height: 100%;
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.container-card .container-card-1 .articulos img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.container-card .container-card-2 {
  grid-template-areas: container-card-2;
}
.container-card .container-card-2 a {
  color: #000000;
  text-decoration: none;
  padding: 15px 20px;
  list-style: none;
}
.container-card .container-card-2 .articulos {
  background-color: white;
  height: 100%;
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.container-card .container-card-2 .articulos img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.container-card .container-card-3 {
  grid-template-areas: container-card-3;
}
.container-card .container-card-3 a {
  color: #000000;
  text-decoration: none;
  padding: 15px 20px;
  list-style: none;
}
.container-card .container-card-3 .articulos {
  background-color: white;
  height: 100%;
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.container-card .container-card-3 .articulos img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.container-card .container-card-4 {
  grid-template-areas: container-card-4;
}
.container-card .container-card-4 a {
  color: #000000;
  text-decoration: none;
  padding: 15px 20px;
  list-style: none;
}
.container-card .container-card-4 .articulos {
  background-color: white;
  height: 100%;
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.container-card .container-card-4 .articulos img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.footer .footer-link {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  height: 100%;
}

/*# sourceMappingURL=estilo.css.map */
