@use "../utilidades/variables" as *;
@use "../utilidades/mixin" as *;
/* ESTILOS PARA LA PAGINA COMO COMPRAR */
.centrar-card {
    @include flex;
    @include centrar;

    .card-fondo {
        @include grid(repeat(2, 1fr), repeat(4, auto), 0);
        grid-template-areas: "subtitulo1 subtitulo1"
            "parrafo1 imagen1"
            "subtitulo2 subtitulo2"
            "imagen2 parrafo2";
        @include card-prederterminada;

        h2 {
            text-align: center;
        }

        img {
            display: block;
            margin: 0 auto;
            width: auto;
            max-width: 35%;
            height: auto;
        }
 
        p {
            text-align: center;
            font-size: 1.2em;
        }

        .subtitulo1 {
            grid-area: subtitulo1;
            text-align: center;
        }

        .parrafo1 {
            grid-area: parrafo1;
            @include flex;
            @include centrar;
        }

        .imagen1 {
            grid-area: imagen1;
        }

        .subtitulo2 {
            grid-area: subtitulo2;
        }

        .parrafo2 {
            grid-area: parrafo2;
            @include flex;
            @include centrar;
        }

        .imagen2 {
            grid-area: imagen2;
        }
    }
}

/* MEDIAS QUERYS PARA TABLET */
@media screen and (max-width: 991px) {
    .centrar-card {
        .card-fondo {

            img {
                display: block;
                margin: 0 auto;
                width: auto;
                max-width: 50%;
                height: auto;
            }
        }
    }
}
/* MEDIA QUERYS PARA CELULAR */
@media screen and (max-width: 768px) {
    .centrar-card {
        max-height: 95%;
        margin-top: 1vh;
        .card-fondo {
            grid-template-areas: "subtitulo1 subtitulo1"
                "imagen1 imagen1"
                "parrafo1 parrafo1"
                "subtitulo2 subtitulo2"
                "imagen2 imagen2"
                "parrafo2 parrafo2";

            img {
                display: block;
                margin: 0 auto;
                width: auto;
                max-width: 50%;
                height: auto;
            }
        }
    }
}